<%= render '/shared/banner' %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= cl_image_path cocktail.photo, height: 200, width: 175, crop: :fill %>')">
        <div class="card-description">
          <h2> <%= cocktail.name %> </h2>
        </div>
        <%= link_to cocktail_path(cocktail), class: "card-link" do %>
        <% end %>
      </div>
    </div>
    <% end  %>
  </div>
</div>
