<div class="footer">
  <div class="footer-links">
    <a href="https://www.wikihow.com/Drink-Responsibly"><i class="fas fa-info"></i class= ""> Drink Responsibly!</a>
  </div>
  <div class="footer-copyright">
    © Lucca Kaiser
  </div>
</div>
